<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <adapter classname="Greicodex\ServiceBuz\Processors\Consumers\FileConsumer" scheme="filereader" />
    <adapter classname="Greicodex\ServiceBuz\Processors\Producers\FileProducer" scheme="filewriter" />
    <adapter classname="Greicodex\ServiceBuz\Processors\TraceProcessor" scheme="trace" />
</root>
